.container-banner {
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.card {
    
}
.aframe-1 {
    background-color: #cccccc;
}
.img-logos {
    width: 7.5rem;
}
.card-body-2 {
    
}
.title-proyecto {
    margin: 1.5rem;
}
footer {
    margin-bottom: 0;
    padding: 3rem 0 3rem 0;
}
.back-video {
    width: 100vw;
    height: 100%;
    background: url('vid/VIDEO-PRUEBA-01.mp4') 50% 50%;
    background-size: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.shadow-2 {
    text-shadow: 1px 1px 2px black;
}